<template>
    <div @mouseover="showOptions = true" @mouseleave="showOptions = false">
      <h3>{{ stock.name }}</h3>
      <p>Status: {{ stock.status }}</p>
      <p>Price: {{ stock.price }}</p>
      <div v-if="showOptions">
        <button @click="buy">Buy</button>
        <button @click="sell">Sell</button>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    name: 'StockCard',
    props: ['stock'],
    data() {
      return {
        showOptions: false
      };
    },
    methods: {
      buy() {
        this.$emit('buy', this.stock);
      },
      sell() {
        this.$emit('sell', this.stock);
      }
    }
  }
  </script>
  
  <style scoped>
  /* your styles go here */
  </style>
  