<template>
    <div>
      <h3>{{ action }} {{ stock.name }}</h3>
      <form @submit.prevent="submit">
        <label>Quantity:</label>
        <input type="number" v-model.number="quantity" min="1" required />
        <label>Type:</label>
        <select v-model="type">
          <option value="MIS">Intraday (MIS)</option>
          <option value="NRML">Overnight (NRML)</option>
        </select>
        <label>Order:</label>
        <select v-model="order">
          <option value="Market">Market</option>
          <option value="Limit">Limit</option>
        </select>
        <div v-if="order === 'Limit'">
          <label>Price:</label>
          <input type="number" v-model.number="price" min="0" step="0.01" required />
        </div>
        <button type="submit">{{ action }}</button>
      </form>
    </div>
  </template>
  
  <script>
  export default {
    name: 'TradeSidebar',
    props: ['stock', 'action'],
    data() {
      return {
        quantity: 1,
        type: 'MIS',
        order: 'Market',
        price: 0
      };
    },
    methods: {
      submit() {
        const order = {
          stock: this.stock,
          action: this.action,
          quantity: this.quantity,
          type: this.type,
          order: this.order,
          price: this.order === 'Limit' ? this.price : null
        };
        this.$emit('submit', order);
      }
    }
  }
  </script>
  
  <style scoped>
  /* your styles go here */
  </style>
  