<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mt-5">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">Dashboard</h5>
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  User
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      @click.prevent="updateUserDetails"
                      >Update User Details</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="#"
                      @click.prevent="updatePassword"
                      >Update Password</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#" @click.prevent="logout"
                      >Logout</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-text">
              <div class="row">
                <div class="col-md-4">
                  <div class="info-box">
                    <div class="info-box-icon bg-primary">
                      <i class="fas fa-user"></i>
                    </div>
                    <div class="info-box-content">
                      <span class="info-box-text">Name: </span>
                      <span class="info-box-number">{{ userName }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-box">
                    <div class="info-box-icon bg-success">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="info-box-content">
                      <span class="info-box-text">Available Margin: </span>
                      <span class="info-box-number">{{ availableMargin }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-box">
                    <div class="info-box-icon bg-danger">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                    <div class="info-box-content">
                      <span class="info-box-text">Margin Used: </span>
                      <span class="info-box-number">{{ marginUsed }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-5">
                <div class="col-md-12">
                  <h6 class="mb-3">Watchlist</h6>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Stock</th>
                          <th>Price</th>
                          <th>Status</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="stock in watchlist" :key="stock.id">
                          <td>{{ stock.name }}</td>
                          <td>{{ stock.price }}</td>
                          <td
                            :class="{
                              'text-success': stock.status === 'positive',
                              'text-danger': stock.status === 'negative',
                            }"
                          >
                            {{ stock.status }}
                          </td>
                          <td>
                            <button
                              class="btn btn-sm btn-success"
                              @click="buyStock(stock)"
                            >
                              Buy
                            </button>
                            <button
                              class="btn btn-sm btn-danger"
                              @click="sellStock(stock)"
                            >
                              Sell
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import the config file
import axios from "axios";
import { API_BASE_URL } from "../config";

export default {
  data() {
    return {
      userName: "",
      availableMargin: 0,
      marginUsed: 0,
      openingBalance: 0,
      watchlist: [],
      userNameToUpdate: "",
      oldPassword: "",
      newPassword: "",
      showUpdateUserDetailsModal: false,
      showUpdatePasswordModal: false,
    };
  },
  methods: {
    async fetchUserInfo() {
      const token = localStorage.getItem("token");
      try {
        const response = await fetch(`${API_BASE_URL}/dashboard/info`, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        });
        if (!response.ok) {
          throw new Error("Error fetching user info");
        }
        const data = await response.json();
        this.userName = data.name;
        this.availableMargin = data.available_margin;
        this.marginUsed = data.margin_used;
        this.openingBalance = data.opening_balance;
      } catch (error) {
        console.error(error);
      }
    },
    async fetchWatchlist() {
      const token = localStorage.getItem("token");
      try {
        const response = await fetch(`${API_BASE_URL}/stocks`, {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        });
        if (!response.ok) {
          throw new Error("Error fetching watchlist");
        }
        const data = await response.json();
        this.watchlist = data.stocks;
      } catch (error) {
        console.error(error);
      }
    },
    buyStock(stock) {
      // Handle buy stock logic
      console.log("Buy stock:", stock);
    },
    sellStock(stock) {
      // Handle sell stock logic
      console.log("Sell stock:", stock);
    },
    logout() {
      localStorage.removeItem("token");
      this.$router.push("/signin");
    },
    updateUserDetails() {
      const response = axios.put(
        `${API_BASE_URL}/update_profile`,
        {
          name: this.userNameToUpdate,
        },
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      if (response.status === 200) {
        alert("User Details Updated Successfully");
        this.showUpdateUserDetailsModal = false;
      }
    },
    updatePassword() {
      const response = axios.put(
        `${API_BASE_URL}/change_password`,
        {
          old_password: this.oldPassword,
          new_password: this.newPassword,
        },
        {
          headers: {
            Authorization: `Bearer ${localStorage.getItem("token")}`,
          },
        }
      );
      if (response.status === 200) {
        alert("Password Updated Successfully");
        this.showUpdatePasswordModal = false;
      }
    },
  },
  mounted() {
    this.fetchUserInfo();
    this.fetchWatchlist();
  },
};
</script>

<style scoped>
.info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #f8f9fa;
}

.info-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.25rem;
  color: #ffffff;
}

.info-box-text {
  font-size: 0.875rem;
  color: #6c757d;
}

.info-box-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40;
}

.table th,
.table td {
  vertical-align: middle;
}

.table .text-success {
  color: #198754;
}

.table .text-danger {
  color: #dc3545;
}
</style>
