<template>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Company Name</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/signin">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to Stock Trading App!</h1>
        <p class="lead">Trade smarter, invest better. Your ultimate stock trading app for informed decisions and financial growth.</p>
        <hr class="my-4">
        <p>Click the button below to start trading.</p>
        <a class="btn btn-primary btn-lg" href="/signin" role="button">Sign In</a>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    name: 'HomePage'
  }
  </script>
  
  <style scoped>
  /* You can customize your styles here */
  </style>
  