<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-4 mt-5">
          <div class="card-body">
            <h5 class="text-center mb-4">Validate OTP</h5>
            <p class="text-center">
              A verification code has been sent to the registered email:
              {{ email }}
            </p>
            <form @submit.prevent="submitForm">
              <div class="form-group text-center">
                <div class="otp-input">
                  <input
                    v-for="(digit, index) in otpDigits"
                    :key="index"
                    type="text"
                    class="form-control otp-digit"
                    v-model="otp[index]"
                    @input="handleInput(index)"
                    maxlength="1"
                    pattern="[0-9]"
                    :ref="'otpInput' + index"
                  />
                </div>
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <div class="card-footer text-center">
            New user? <router-link to="/signup">Sign up</router-link>
          </div>
          <div class="card-footer text-center">
            Signin Again? <router-link to="/signin">Sign In</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, numeric } from "@vuelidate/validators";
import { ref } from "vue";
import { useVuelidate } from "@vuelidate/core";
import { useRouter } from "vue-router";
import { API_BASE_URL } from "../config";

export default {
  setup() {
    const otpDigits = [0, 1, 2, 3, 4, 5];
    const otp = ref(Array(6).fill(""));
    const otpInputs = otpDigits.map(() => ref(null));
    const router = useRouter();
    const email = router.currentRoute.value.query.email;

    const $v = useVuelidate();
    $v.value.$autoDirty = true;

    const handleInput = (index) => {
      if (otp[index] !== "") {
        if (index < otp.length - 1) {
          otpInputs[index + 1].value.focus();
        }
      }
    };

    const submitForm = async () => {
      $v.value.$touch();
      if ($v.value.$invalid) {
        // handle invalid form
        return;
      }
      // handle valid form
      try {
        const response = await fetch(`${API_BASE_URL}/verify_otp`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            email,
            otp: otp.value.join(""),
          }),
        });
        if (response.ok) {
          const data = await response.json();
          localStorage.setItem("token", data.token);
          router.push("/dashboard");
        } else {
          throw new Error("Failed to verify OTP");
        }
      } catch (error) {
        console.error(error);
      }
    };

    return {
      otpDigits,
      otp,
      otpInputs,
      $v,
      handleInput,
      submitForm,
      email,
    };
  },

  validations() {
    return {
      otp: {
        $each: {
          required,
          numeric,
        },
      },
    };
  },
};
</script>

<style scoped>
.otp-input {
  display: flex;
  justify-content: space-between;
}

.otp-digit {
  width: 40px;
  text-align: center;
}

button[type="submit"] {
  margin-top: 10px;
}
</style>
