<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-4 mt-5">
          <div class="card-body">
            <h5 class="text-center mb-4">Sign In</h5>
            <form @submit.prevent="submitForm">
              <div class="form-group">
                <label>Email address</label>
                <input
                  type="email"
                  class="form-control"
                  v-model="email"
                  placeholder="Enter email"
                />
                <div
                  v-if="!$v.email.$dirty && $v.email.$invalid"
                  class="alert alert-danger mt-1"
                >
                  Email is required and must be valid
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input
                  type="password"
                  class="form-control"
                  v-model="password"
                  placeholder="Password"
                />
                <div
                  v-if="!$v.password.$dirty && $v.password.$invalid"
                  class="alert alert-danger mt-1"
                >
                  Password is required
                </div>
              </div>
              <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary">Sign In</button>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <router-link to="/signup" class="small"
                  >Create new account</router-link
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, email } from "@vuelidate/validators";
import { ref } from "vue";
import { useRouter } from "vue-router";
import { useVuelidate } from "@vuelidate/core";
import axios from "axios";
import { API_BASE_URL } from "../config";

export default {
  setup() {
    const email = ref("");
    const password = ref("");

    const $v = useVuelidate();

    const router = useRouter();

    const submitForm = async () => {
      try {
        const response = await axios.post(`${API_BASE_URL}/signin`, {
          email: email.value,
          password: password.value,
        });

        // handle successful signin
        console.log(response.data);

        if (response.status === 200) {
          router.push({
            name: "validate-otp",
            query: { email: email.value },
          });
        }
      } catch (error) {
        // handle error
        console.error(error);
      }
    };

    return {
      email,
      password,
      $v,
      submitForm,
    };
  },

  validations() {
    return {
      email: { required, email },
      password: { required },
    };
  },
};
</script>

<style scoped>
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.card {
  box-shadow: 0px 0px 35px 0px rgba(154, 154, 154, 1);
  min-width: 400px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.invalid-feedback {
  color: red;
}

.small {
  color: #6c757d;
}
</style>
